@import '~antd/dist/antd.css';
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unauthorised-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 316px;
  left: 0;
  right: 0;
  width: 250px;
}
.login-form-container {
  height: 316px;
  padding: 0 70px;
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 0;
  bottom: 0;
}
.login-form-container .login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-cards-container {
  display: flex;
  flex-wrap: wrap;
}
.project-cards-container .notcalpi-card {
  margin: 10px;
}
.contact-forms-page-header {
  padding-left: 0;
}
.welcome-screen {
  display: flex;
  justify-content: space-between;
}
