@import '~antd/dist/antd.css';
.project-cards-container {
  display: flex;
  flex-wrap: wrap;
}
.project-cards-container .notcalpi-card {
  margin: 10px;
}
.contact-forms-page-header {
  padding-left: 0;
}
